<h1>Administration#index</h1>
<p>Find me in app/views/administration/index.html.erb</p>

<div class="container">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Last registration
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Role</td>
              <th>Registration date</td>
              <th>User email</td>
            </tr>
          </thead>
          <tbody>
            <% @last_registrations.each do |registration| %>
              <tr>
                <td><%= registration.role_name %></td>
                <td><%= time_ago_in_words(registration.created_at) %> ago</td>
                <td><%= link_to registration.email, user_path(registration) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Last purchases
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>User email</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% @last_purchases.each do |purchase| %>
              <tr>
                <td><%= link_to purchase[:user_email], user_path(purchase[:user_id]) %></td>
                <td><%= link_to "#{purchase[:amount]}€", purchase_path(purchase[:purchase_id]) %></td>
                <td><%= purchase[:purchase_status] %></td>
                <td><%= render partial: 'purchases/view_purchase_button', object: purchase[:purchase_id], as: :purchase %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Last payments
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>User email</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% @last_payments.each do |payment| %>
              <tr>
                <td><%= link_to payment[:user_email], user_path(payment[:user_id]) %></td>
                <td><%= link_to "#{payment[:amount]}€", purchase_path(payment[:purchase_id]) %></td>
                <td><%= payment[:purchase_status] %></td>
                <td><%= render partial: 'purchases/view_purchase_button', object: payment[:purchase_id], as: :purchase %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Products recently added
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></td>
              <th>Name</td>
              <th>Description</td>
              <th>Price</td>
              <th>Quantity</td>
              <th>Options</td>
            </tr>
          </thead>
          <tbody>
            <% @recently_added_products.each do |product| %>
              <tr>
                <td><%= image_tag product.thumbnail if product.image.present? %></td>
                <td><%= product.name %></td>
                <td><%= product.truncated_description %></td>
                <td><%= product.price %></td>
                <td><%= product.quantity %></td>
                <td class="btn-group"><%= render partial: 'products/view_product_button', object: product, as: :product %>
                <%= render partial: 'products/edit_product_button', object: product, as: :product %>
                <%= render partial: 'products/delete_product_button', object: product, as: :product %>
                </td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
