<div class="container">
<h1><%= @purchase.user.email %>'s purchase</h1>
<h2>Status: <%= @purchase.status_name %></h2>
<p><%= @purchase.products.size %> products, <%= @purchase.amount %>€</p>
<p><%= @purchase.created_at.strftime("%m/%d/%y at %I:%M%p") %></p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Product</td>
      <th>Price</td>
      <th>TODO: Quantity</td>
    </tr>
  </thead>
  <tbody>
    <% @purchase.products.each do |product| %>
      <tr>
        <td><%= image_tag product.thumbnail if product.image.present? %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
