<div class="container">
  <table class="table table-striped">
    <thead>
      <tr> 
        <th></th>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>

      <% @cart.cart_products.each do |p| %>
        <tr>
          <td><%= link_to product_path(p.product) do %>
            <%= image_tag p.product.thumbnail if p.product.image.present? %>
        <% end %></td>
          <td><%= link_to p.product.name, product_path(p.product) %></td>
          <td><%= p.product.truncated_description %></td>
          <td><%= p.quantity %></td>
          <td><%= p.product.price %></td>
          <td><%= "#{p.product.price * p.quantity}€" %></td>
          <td class="btn-group">
            <%= button_to '-', decrement_product_quantity_path(p), class: 'btn btn-sm btn-secondary', method: :post %>
            <%= button_to '+', increment_product_quantity_path(p), class: 'btn btn-sm btn-primary', method: :post %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td></td><td></td><td></td><td></td><td></td> 
          <td><%= @cart.amount %></td>
        </tr>

    </tbody>
  </table>
</div>
