<% if user_signed_in? %>
  <%= button_to 'Add to cart', { controller: :cart_products,
                                 action: :create,
                                   cart_product: {
                                     product_id: product.id,
                                     cart_id: current_user.cart.id 
                                   },
                               },
                               method: 'post',
                               class: 'btn btn-success d-inline btn-sm' %> 
<% end %>
