<% if admin? %>
  <%= button_to 'Delete', { controller: :products,
                            action: 'destroy',
                            id: product.id },
                            method: :delete,
                            class: 'btn btn-danger d-inline btn-sm' %>
<% end %>
