<%= form_with model: @product, multipart: true, local: true do |f| %>

   <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :price %>
      <%= f.number_field :price, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :quantity%>
      <%= f.number_field :quantity, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <%= f.hidden_field :status, value: 1 %>

    <div class="actions">
      <%= f.submit class:"btn btn-primary" %>
    </div>

<% end %>
