<div class="card" style="width: 14rem;">
  <%= image_tag(product.card_image) if product.image.present? %>
  <div class="card-body">
    <h5 class="card-title text-dark"><%= link_to product.name, product_path(product) %></h5>
    <p class='small text-right'> by <%= link_to product.supplier.email, user_path(product.supplier), class: 'small' %></p>
    <p class="card-text"><%= product.truncated_description %></p>
    <div class="text-left d-inline">
      <div class="btn-group">
        <%= render partial: 'edit_product_button', object: product, as: :product %>
        <%= render partial: 'delete_product_button', object: product, as: :product %>
      </div>
    </div>
    <div class="text-right d-inline">
      <div class="btn-group">
        <%= render partial: 'view_product_button', object: product, as: :product %>
        <%= render partial: 'add_product_to_cart', object: product, as: :product %>
      </div>
    </div>
    <% product.tags.each do |tag| %>
      <span class='badge badge-pill badge-secondary'><%= tag.name %></span>
    <% end %>
  </div>
</div>
