<% if admin? %>
  <div class='jumbotron'>
    <%= button_to 'New product', new_product_path, method: :get, class: 'btn btn-lg btn-block btn-outline-success' %>
    <%= button_to 'Manage products', new_product_path, method: :get, class: 'btn btn-lg btn-block btn-outline-info' %>
  </div>
<% end %>

<div class='container'>
  <div class='row' >
    <div class="col-2 border border-primary rounded-right pt-3 pl-3 ml-3 mr-5">
      <p>CATEGORIES</p>
      <ul class="nav flex-column">
        <% @categories.each do |category| %>
          <%= link_to category.name, '#' %>
        <% end %>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="col">
      <div class='row mx-auto' >
        <%= render partial: 'product', collection: @products %>
      </div>
    </div>
  </div>
  <%= paginate @products %>
</div>

