<div class="container bg-light">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag @product.gallery_image if @product.image.present? %>
    </div>
    <div class="col-lg-6 mt-3">
      <div class="row">
        <div class="col-4"><h2><%= @product.name %></h2></div>
        <div class="col-8"><%= @product.supplier.email %></div>
        <div class="col"><p><%= @product.description %></p></div>
        <div class="col-lg-3 offset-8"><p>Price: <%= @product.price %>€</p></div>

        <div class ="col sticky-bottom">
      <%= render partial: 'delete_product_button', object: @product, as: :product %>
      <%= render partial: 'edit_product_button', object: @product, as: :product %>
      <%= render partial: 'add_product_to_cart', object: @product, as: :product %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
